useDynLib(HRM, .registration=TRUE)
export(hrm_test, hrm.test.matrix, hrm.test.dataframe)
import(matrixcalc)
import(ggplot2)
importFrom("plyr", "dlply")
importFrom("stats", "pf", "qf", "var", "as.formula", "qnorm", "cov2cor")
importFrom("stats", "model.frame", "terms.formula", "cov")
importFrom("data.table", "setDT", "rbindlist", "setnames", "as.data.table", "melt", ":=")
importFrom("pseudorank", "pseudorank")
importFrom("doBy", "summaryBy")
importFrom("mvtnorm", "qmvnorm")
importFrom("Rcpp", "evalCpp")
S3method(print, HRM)
S3method(summary, HRM)
S3method(confint, HRM)
S3method(plot, HRM)
S3method(hrm_test, default)
S3method(hrm_test, list)
S3method(hrm_test, data.frame)
