export(hrm.test, hrm.test.matrix, hrm.test.dataframe, hrm.test.2, hrm_test, hrm.plot, hrm.GUI) 
import(matrixcalc)
import(MASS)
import(plyr)
import(ggplot2)
importFrom("stats", "pf", "qf", "var", "as.formula")
importFrom("reshape2", "melt")
importFrom("stats", "model.frame", "terms.formula")
importFrom("utils", "read.table", "write.table")
importFrom("xtable", "xtable")
importFrom("grDevices", "dev.new")
importFrom("tcltk", "tkchooseDirectory","tkgetOpenFile" , "tclvalue")
S3method(print,HRM)
S3method(summary,HRM)
